*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	display: grid;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-content: center;
}

.app{
	width: 700px;
	height: 600px;
	border-radius: 15px;
	border: 1px solid dimgray;
	background: lightblue;
}
.paper{
	position: relative;
	width: 98%;
	height: 60%;
	top: 20px;
	margin: 0 auto;
	border: 1px solid dimgray;	
}

.ck-editor__editable_inline {
    min-height: 530px;

}
